Repository alnavarrop99/daisy-ui-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run, stylelint

.lintstagedrc.json:

{
  "**/*": ["prettier --write"],
  "src/**/*.ts": ["eslint --fix"],
  "src/**/*.(test|spec).ts": ["vitest related --run"],
  "src/**/*.tsx": ["eslint --fix", "stylelint"],
  "src/**/*.css": ["stylelint"]
}

feat: create new components - headers - footers
  src/component/footer.stories.tsx
  src/component/footer.test.tsx
  src/component/footer.tsx
  src/component/header.stories.tsx
  src/component/header.test.tsx
  src/component/header.tsx
  src/component/sidebar.stories.tsx
  src/component/sidebar.test.tsx
  src/pages/__root.tsx
  src/pages/user.tsx
Due: prettier --write, eslint --fix, stylelint

chore: add lint:fix script
  package.json
Due: prettier --write

feat: create @component login-form/ - file: storie/ - file: react/ - rest file: test/
  src/component/login-form.stories.tsx
  src/component/login-form.tsx
Due: prettier --write, eslint --fix, stylelint

fix: updane comp- header- sidebar
  src/component/header.stories.tsx
  src/component/header.test.tsx
  src/component/header.tsx
  src/component/sidebar.stories.tsx
  src/component/sidebar.test.tsx
Due: prettier --write, eslint --fix, stylelint

fix: create layout for a root nav
  src/component/header.tsx
  src/pages/_layout.module.css
  src/pages/_layout.tsx
  src/pages/_layout/client.tsx
  src/pages/_layout/client/.gitkeep
  src/pages/_layout/credit.tsx
  src/pages/_layout/credit/.gitkeep
  src/pages/_layout/home/.gitkeep
  src/pages/_layout/index.tsx
  src/pages/_layout/user.tsx
  src/pages/_layout/user/.gitkeep
  src/pages/index.module.css
  src/pages/login.tsx
  src/routeTree.gen.ts
Due: prettier --write, eslint --fix, stylelint

fix: update especials rutes
  src/pages/__404.tsx
  src/pages/__root.tsx
  src/pages/index.module.css
Due: prettier --write, eslint --fix, stylelint

feat: create stories - login
  src/pages/__stories__/-nav.stories.tsx
  src/pages/__stories__/-root.stories.tsx
Due: prettier --write, eslint --fix, stylelint

fix: update component - header: hover in text.
  src/component/header.tsx
Due: prettier --write, eslint --fix, stylelint

fix: update routes - root - layout
  src/pages/__root.tsx
  src/pages/_layout.tsx
Due: prettier --write, eslint --fix, stylelint

chore: fix postcss remove config for storybook and work to root config with cssnano
  .postcssrc.json
  .storybook/.postcssrc.json
  .storybook/main.ts
Due: prettier --write

feat: create route root index
  src/pages/__stories__/-root.stories.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix, stylelint

chore: add user-event dep fer RTL
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix config to stylelint - delete plugin: stylelint-no-unsupported-browser-features - add rule: function-no-unknown and media-query-no-invalid
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  src/index.css
  src/pages/_layout.module.css
  src/styles/gcss.module.css
  src/styles/root.css
Due: prettier --write, stylelint

feat: create card-info comp
  src/component/card-info.module.css
  src/component/card-info.stories.tsx
  src/component/card-info.tsx
Due: prettier --write, eslint --fix, stylelint

fix: update routeTree
  src/routeTree.gen.ts
Due: prettier --write, eslint --fix

feat: create card-box comp
  src/component/cards/card-box.module.css
  src/component/cards/card-box.stories.tsx
  src/component/cards/card-box.tsx
  src/component/cards/card-info.module.css
  src/component/cards/card-info.stories.tsx
  src/component/cards/card-info.tsx
Due: prettier --write, eslint --fix, stylelint

feat: create card-range comp
  src/component/cards/card-box.module.css
  src/component/cards/card-info.stories.tsx
  src/component/cards/card-range.module.css
  src/component/cards/card-range.stories.tsx
  src/component/cards/card-range.tsx
Due: prettier --write, eslint --fix, stylelint

fix: @component card-box - restructure with more easy way. - contain the prepulate cards was exists
  src/component/card-box.module.css
  src/component/card-box.stories.tsx
  src/component/card-box.tsx
  src/component/cards/card-box.module.css
  src/component/cards/card-box.stories.tsx
  src/component/cards/card-box.tsx
  src/component/cards/card-info.stories.tsx
  src/component/cards/card-info.tsx
  src/component/cards/card-range.module.css
  src/component/cards/card-range.stories.tsx
  src/component/cards/card-range.tsx
  src/helper.test.ts
  src/helper.tsx
  src/styles/layer.css
Due: prettier --write, eslint --fix, stylelint

chore: config eslint - rm react-hooks/rules-of-hooks - rm react/prop-types
  .eslintrc.json
Due: prettier --write

fix: @component header - restructure component for major use.
  src/component/footer.test.tsx
  src/component/header.stories.tsx
  src/component/header.test.tsx
  src/component/header.tsx
  src/component/sidebar.test.tsx
Due: prettier --write, eslint --fix, stylelint

fix: udpate @component
  src/component/card-box.tsx
Due: prettier --write, eslint --fix, stylelint

fix: update @component header
  src/component/header.stories.tsx
  src/component/header.tsx
Due: prettier --write, eslint --fix, stylelint

fix: update @component sidebar
  src/component/sidebar.stories.tsx
  src/component/sidebar.tsx
Due: prettier --write, eslint --fix, stylelint

feat: create custom layer
  src/styles/layer.css
Due: prettier --write, stylelint

chore: install daisy-ui
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
  src/component/card-box.tsx
  src/component/footer.stories.tsx
  src/component/header.stories.tsx
  src/component/header.tsx
  src/component/login-form.stories.tsx
  src/component/sidebar.stories.tsx
  src/component/sidebar.tsx
  src/pages/__stories__/-nav.stories.tsx
  src/pages/__stories__/-root.stories.tsx
  src/pages/_layout.tsx
  src/pages/login.tsx
  tailwind.config.js
  tsconfig.json
  vite.alias.ts
Due: prettier --write, eslint --fix, stylelint

chore: create @config postcss to storybook
  .storybook/.postcssrc.json
Due: prettier --write

chore: add rule for @config eslint - react/display-name - react/react-in-jsx-scope
  .eslintrc.json
Due: prettier --write

fix: eslint errors
  src/component/card-box.tsx
  src/component/header.tsx
  src/component/login-form.tsx
  src/component/sidebar.tsx
  src/pages/__stories__/-nav.stories.tsx
  src/pages/_layout.tsx
Due: prettier --write, eslint --fix, stylelint

chore: add svg files to @config tailwindcss
  src/component/button.stories.tsx
  src/component/button.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint

chore: @config types plugin "vite-plugin-svgr"
  src/vite-env.d.ts
Due: prettier --write, eslint --fix

feat: create a button @compnonent
  src/assets/heart.svg
  src/component/button.stories.tsx
Due: prettier --write, eslint --fix, stylelint

chore: add ".*svg" to prottierignore
  .prettierignore
Due: prettier --write

fix(storie): fix type error in buttons story file
  src/component/button.stories.tsx
Due: prettier --write, eslint --fix, stylelint

feat(comp): create avatar
  src/component/avatar-group.stories.tsx
  src/component/avatar.stories.tsx
  src/component/avatar.tsx
Due: prettier --write, eslint --fix, stylelint

style: restructure comp to layouts
  src/component/card-box.module.css
  src/component/card-box.stories.tsx
  src/component/card-box.tsx
  src/component/footer.stories.tsx
  src/component/footer.tsx
  src/component/header.stories.tsx
  src/component/header.tsx
  src/component/login-form.stories.tsx
  src/component/login-form.tsx
  src/component/sidebar.stories.tsx
  src/component/sidebar.tsx
  src/layout/.gitkeep
Due: prettier --write, eslint --fix, stylelint

fix: imports comflicts
  src/pages/_layout.tsx
  src/pages/_layout/client.tsx
Due: prettier --write, eslint --fix, stylelint

style(comp): set defualt valua in butten comp
  src/component/button.tsx
Due: prettier --write, eslint --fix, stylelint

fix: rm console log
  .storybook/main.ts
Due: prettier --write

feat(comp): create badge
  src/component/badge.stories.tsx
  src/component/badge.tsx
Due: prettier --write, eslint --fix, stylelint

chore: change rule in tsx eslint plugin - react/prop-types: warn
  .eslintrc.json
Due: prettier --write
